* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #023047;
}

.mainLoginPage {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mainLoginPage img {
  width: 500px;
}

.mainLoginPage form {
  margin-left: 100px;
  padding-left: 100px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: roboto, sans-serif;
}

.formInput {
  width: 225px;
  height: 30px;
  margin: 10px;
  text-align: center;
  font-family: "Roboto";
}

.orangeBtn{
  background-color: #023047;
  border: 2px solid #FF6600;
  color: #FF6600;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  padding: 7px 17px;
  margin: 5px;
}

.orangeBtn:hover {
  cursor: pointer;
}

.mainLoginPage p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.orangeBtn:active {
  background-color: #219EBC;
  border: 1px solid #219EBC; 
  color: white;
}

.mainLoginPage p {
  color: white;
  font-size: 0.75rem;
  margin: 12px;
}

.signupPage {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.signupPage img {
  width: 300px;
  margin-left: -20px;
}

.signupPage label {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: #FFB703;
}

.signupPage table {
  margin-bottom: 20px;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
}

.headerMenu li {
  list-style: none;
  font-size: 1.5rem;
}

.mainMenu {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.username {
  color: #FFB703;
}

.headerMenu li {
  list-style: none;
  font-size: 1.5rem;
}

.headerMenu a:link {
  text-decoration: none;
}

.headerMenu a:hover {
  text-decoration: underline;
}

.headerMenu a:visited {
  text-decoration: none;
  color: #FF6600;
}

.headerMenu img {
  width: 200px;
}

.mainMenu .selectionMenu {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.mainMenu h1 {
  margin-bottom: 20px;
}

.mainMenu .seletionButtons {
  display: flex;
  flex-direction: row;
}

.mainMenu button {
  margin: 20px;
  width: 400px;
  height: 400px;
  border: 1px solid #219EBC;
  background-color: #219EBC;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.mainMenu button:hover {
  cursor: pointer;
}

.footerMenu {
  clear: both;
  position: relative;
  height: 20px;
  margin-top: -20px;
}

.footerMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footerMenu ul li {
  padding-left: 20px;
  list-style: none;
  font-size: 1.5rem;
}

.reviewStudySession {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.reviewPage {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.createFlashCards {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.createFlashCardsPage {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.reviewFlashCards {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.reviewFlashCardsPage {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.createSession {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.createSessionMain {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.createSessionMain form {
  border: 5px solid #219EBC;
  width: 1600px;
}

.createSessionMain h1 {
  font-size: 2.5rem;
  text-align: left;
  margin-bottom: 30px;
}

.createSessionMain .formItem input {
  width: 600px;
}

.createSessionForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createSessionForm label {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: #FFB703;
  margin: 8px 15px 0 0;
}

.formLeftSide {
  margin: 40px;
  display: flex;
  flex-direction: column;
}

.formRightSide {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.formRightSide textarea {
  padding: 20px;
  width: 700px;
  height: 600px;
}

.formItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

#mainPoints {
  height: 100px;
}

#painPoints {
  height: 100px;
}

.studySession {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.chatView {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.chatUserInput {
  display: flex;
  flex-direction: row;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  font-size: 1.25rem;
  width: 1600px;
}

.chatArea {
  padding: 20px;
  height: 400px;
  width: 1600px;
  border: 5px solid #219EBC;
  scroll-behavior: smooth;
  overflow: scroll;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

.chatUserInput textarea {
  padding: 20px;
  margin-top: 20px;
  width: 800px;
  height: 50px;
}

.messageDiv {
  margin-bottom: 15px;
}

@media screen and (max-height: 1000px) {
  .chatView {
    margin-top: -120px;
  }
}

@media screen and (max-height: 900px) {
  .chatView {
    margin-top: -100px;
  }
}

@media screen and (max-height: 800px) {
  .chatView {
    margin-top: -50px;
  }
}

@media screen and (max-height: 700px) {
  .chatView {
    margin-top: -40px;
  }

  .chatArea {
    height: 300px;
  }
}

@media screen and (max-height: 600px) {
  .chatArea {
    height: 200px;
  }
}

@media screen and (max-height: 500px) {
  .chatView {
    margin-top: -20px;
  }

  .chatArea {
    height: 200px;
  }
}

@media screen and (max-width: 1800px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    margin: 20px;
    width: 350px;
    height: 350px;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 1650px) {
  .chatHeader {
    width: 1300px;
  }
  
  .chatArea {
    width: 1300px;
  }
  
  .chatUserInput textarea {
    padding: 20px;
    width: 700px;
    height: 50px;
  }

  .createSessionMain form {
    width: 1400px;
  }

  .createSessionMain .formItem input {
    width: 500px;
  }

  .formRightSide textarea {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 1600px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    margin: 20px;
    width: 325px;
    height: 325px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1500px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    margin: 20px;
    width: 300px;
    height: 300px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1450px) {
  .createSessionMain form {
    width: 1200px;
  }

  .createSessionMain .formItem input {
    width: 400px;
  }

  .formRightSide textarea {
    width: 500px;
    height: 600px;
  }
}

@media screen and (max-width: 1400px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    padding: 30px;
    margin: 20px;
    width: 250px;
    height: 250px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1350px) {
  .chatHeader {
    width: 1150px;
  }
  
  .chatArea {
    width: 1150px;
  }
  
  .chatUserInput textarea {
    padding: 20px;
    width: 700px;
    height: 50px;
  }
}

@media screen and (max-width: 1250px) {
  .createSessionMain form {
    width: 1000px;
  }

  .createSessionMain .formItem input {
    width: 300px;
  }

  .formRightSide textarea {
    width: 400px;
    height: 600px;
  }
}

@media screen and (max-width: 1200px) {
  .chatHeader {
    width: 1000px;
  }
  
  .chatArea {
    width: 1000px;
  }
  
  .chatUserInput textarea {
    padding: 20px;
    width: 700px;
    height: 50px;
  }

  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    padding: 40px;
    margin: 20px;
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1050px) {
  .chatHeader {
    width: 700px;
  }
  
  .chatArea {
    width: 700px;
  }
  
  .chatUserInput textarea {
    padding: 20px;
    width: 600px;
    height: 50px;
  }

  .createSessionMain form {
    width: 900px;
  }

  .createSessionMain .formItem input {
    width: 300px;
  }

  .formLeftSide input {
    width: 400px;
  }

  .formRightSide textarea {
    width: 350px;
    height: 600px;
  }
}

@media screen and (max-width: 1000px) {
  .mainMenu {
    max-height: 100%;
  }

  .mainMenu .selectionMenu {
    margin-top: 0px;
  }
  
  .mainMenu button {
    padding: 40px;
    margin: 20px;
    width: 250px;
    height: 250px;
    font-size: 1.5rem;
  }
  
  .selectionButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .mainLoginPage img {
    width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .createSessionMain {
    margin: 100px 0;
  }

  .createSessionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .createSessionMain form {
    width: 700px;
  }

  .createSessionMain .formItem input {
    width: 500px;
  }

  .formLeftSide input {
    width: 400px;
  }

  .createSessionMain .formItem {
    align-items: center;
  }

  .formRightSide textarea {
    width: 500px;
    height: 650px;
  }
}

@media screen and (max-height: 900px) {
  .createSessionMain {
    margin-top: -50px;
  }
}

@media screen and (max-width: 850px) {
  .mainLoginPage img {
    width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .chatHeader {
    width: 400px;
  }
  
  .chatArea {
    width: 400px;
  }
  
  .chatUserInput textarea {
    padding: 20px;
    width: 300px;
    height: 80px;
  }
  
  .mainLoginPage {
    flex-direction: column;
  }

  .mainLoginPage img {
    margin-left: -35px;
  }

  .mainLoginPage form {
    margin-left: 0px;
    padding-left: 0px;
    border-left: none;
  }

  .mainLoginPage img {
    width: 300px;
  }

  .createSessionMain {
    margin: 100px 0;
  }

  .createSessionMain form {
    width: 500px;
  }

  .createSessionMain .formItem input {
    width: 350px;
  }

  .formLeftSide input {
    width: 300px;
  }

  .createSessionMain .formItem {
    align-items: center;
  }

  .createSessionMain h1 {
    font-size: 1.5rem;
  }

  .formRightSide textarea {
    width: 350px;
    height: 650px;
  }
}

@media screen and (max-width: 650px) {
  .mainMenu button {
    padding: 40px;
    margin: 20px;
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .chatHeader {
    width: 300px;
  }
  
  .chatArea {
    height: 300px;
    width: 400px;
  }
  
  .chatUserInput textarea {
    padding: 20px;
    width: 200px;
    height: 100px;
  }

  .selectionButtons {
    grid-template-columns: repeat(1, 1fr);
  }

  .mainMenu h1 {
    font-size: 1.5rem;
  }

  .mainMenu button {
    padding: 0px;
    margin: 20px;
    width: 125px;
    height: 125px;
    font-size: 1rem;
    text-align: center;
  }
}