* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #023047;
}

.mainLoginPage {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mainLoginPage img {
  width: 500px;
}

.mainLoginPage form {
  margin-left: 100px;
  padding-left: 100px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: roboto, sans-serif;
}

.formInput {
  width: 225px;
  height: 30px;
  margin: 10px;
  text-align: center;
  font-family: "Roboto";
}

.orangeBtn{
  background-color: #023047;
  border: 2px solid #FF6600;
  color: #FF6600;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: bold;
  padding: 7px 17px;
  margin: 5px;
}

.orangeBtn:hover {
  cursor: pointer;
}

.mainLoginPage p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.orangeBtn:active {
  background-color: #219EBC;
  border: 1px solid #219EBC; 
  color: white;
}

.mainLoginPage p {
  color: white;
  font-size: 0.75rem;
  margin: 12px;
}

.signupPage {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.signupPage img {
  width: 300px;
  margin-left: -20px;
}

.signupPage label {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  color: #FFB703;
}

.signupPage table {
  margin-bottom: 20px;
}

.headerMenu {
  display: flex;
  justify-content: space-between;
}

.headerMenu li {
  list-style: none;
  font-size: 1.5rem;
}

.mainMenu {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.username {
  color: #FFB703;
}

.headerMenu li {
  list-style: none;
  font-size: 1.5rem;
}

.headerMenu a:link {
  text-decoration: none;
}

.headerMenu a:hover {
  text-decoration: underline;
}

.headerMenu a:visited {
  text-decoration: none;
  color: #FF6600;
}

.headerMenu img {
  width: 200px;
}

.mainMenu .selectionMenu {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.mainMenu h1 {
  margin-bottom: 20px;
}

.mainMenu .seletionButtons {
  display: flex;
  flex-direction: row;
}

.mainMenu button {
  margin: 20px;
  width: 400px;
  height: 400px;
  border: 1px solid #219EBC;
  background-color: #219EBC;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.mainMenu button:hover {
  cursor: pointer;
}

.footerMenu {
  clear: both;
  position: relative;
  height: 20px;
  margin-top: -20px;
}

.footerMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footerMenu ul li {
  padding-left: 20px;
  list-style: none;
  font-size: 1.5rem;
}

.reviewStudySession {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.reviewPage {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.createFlashCards {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.createFlashCardsPage {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

.reviewFlashCards {
  font-family: "Oswald", sans-serif;
  color: #FF6600;
  margin: 20px;
  font-weight: bold;
  height: 100%;
}

.reviewFlashCardsPage {
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
  font-size: 2.5rem;
}

@media screen and (max-width: 1800px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    margin: 20px;
    width: 350px;
    height: 350px;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 1600px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    margin: 20px;
    width: 325px;
    height: 325px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1500px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    margin: 20px;
    width: 300px;
    height: 300px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1400px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    padding: 30px;
    margin: 20px;
    width: 250px;
    height: 250px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .mainMenu h1 {
    font-size: 2.5rem;
  }
  
  .mainMenu button {
    padding: 40px;
    margin: 20px;
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 1000px) {
  .mainMenu {
    max-height: 100%;
  }

  .mainMenu .selectionMenu {
    margin-top: 0px;
  }
  
  .mainMenu button {
    padding: 40px;
    margin: 20px;
    width: 250px;
    height: 250px;
    font-size: 1.5rem;
  }
  
  .selectionButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .mainLoginPage img {
    width: 350px;
  }
}

@media screen and (max-width: 850px) {
  .mainLoginPage img {
    width: 300px;
  }
}

@media screen and (max-width: 750px) {
  .mainLoginPage {
    flex-direction: column;
  }

  .mainLoginPage img {
    margin-left: -35px;
  }

  .mainLoginPage form {
    margin-left: 0px;
    padding-left: 0px;
    border-left: none;
  }

  .mainLoginPage img {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  .mainMenu button {
    padding: 40px;
    margin: 20px;
    width: 200px;
    height: 200px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .selectionButtons {
    grid-template-columns: repeat(1, 1fr);
  }

  .mainMenu h1 {
    font-size: 1.5rem;
  }

  .mainMenu button {
    padding: 0px;
    margin: 20px;
    width: 125px;
    height: 125px;
    font-size: 1rem;
    text-align: center;
  }
}